{%extends 'base.html'%}
{%block content%}
<h1 id = "clothelogo">Your Profile</h1>
<img class = "profpic" src="https://indianapublicmedia.org/stateimpact/files/2013/01/apple-image.jpg">
<br><br><br>
<div class = "divcenteredit">
    <div class = "username">
        <p class = "label">USERNAME</p><input id = "usernamefield" type = "field" value = "current username">
    </div>
    <br><br>
    <div class = "email">
        <p class = "label">EMAIL</p><input id = "emailfield" type = "field" value = "current email">
    </div>
    <br><br>
    <div class = "gender">
        <p class = "label">GENDER</p><input id = "genderfield" type = "field" value = "current gender">
    </div>
    <br><br>
    <input type = "button" id = "editprof" value = "EDIT PROFILE">
</div>
{%endblock%}