{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<br><br><br><br>
<div class = "divcenter">
    <!-- <form action="" method="POST" enctype="multipart/form-data" class="post-form">
        <div id = "divform">
            {% csrf_token %}
            {{p_form}}
            <button type='submit'>Send Post</button>
        </div>
    </form> -->
    <form method = "POST" action = "">
        {% csrf_token %}
        {{p_form | crispy}}
        <button type = "submit">Create Post</button>
    </form>
</div>
{% endblock content%}