<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test CSS Template</title>
    <link rel="stylesheet" type="text/css" href="posts.css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body bgcolor = "white">
    <h1 id = "clothelogo">Clothe</h1>
    <div class = "divcenter">
        <div class = "divuserdisplay">
            <img class = "profpic" src="https://indianapublicmedia.org/stateimpact/files/2013/01/apple-image.jpg">
            <p class = "usernames">user name</p>
        </div>
        <img class = "imageposts" src = "https://img10.deviantart.net/a3f7/i/2014/080/d/1/ryuk_by_jesiachan-d7b15ej.png">
        <p class = "captions">Hi I am a caption I present a caption please feel free to write a caption</p>
        <div class = "divlike">
            <button class="like"><i class="fa fa-thumbs-up"></i></button>
            <p class = "likenumber">#######</p>
        </div>
        <div class = "divdislike">
            <button class="dislike"><i class="fa fa-thumbs-down"></i></button>
            <p class = "dislikenumber">#######</p>
        </div>
    </div>
</body>
</html>