{% extends "base.html"%}
{% block content %}
<body bgcolor = "white">
    {% for obj in qs %}
    <br><br><br><br>
    <div class = "divcenter">
        <div class = "divuserdisplay">
            <img class="profpic" src={{obj.author.avatar.url}}> 
                {{ obj.author.user.username }} - {{ obj.created|timesince}} ago
        </div>
        {% if obj.image %}
        <br><br>
        <img class = "imageposts" src = "{{obj.image.url}}">
        {% endif %}
    
        <p class = "captions">{{obj.content}}</p>
        <div class = "divlike">
            <button class="like"><i class="fa fa-thumbs-up"></i></button>
            <p class = "likenumber">{{obj.num_likes}}</p>
        </div>
        <div class = "divdislike">
            <button class="dislike"><i class="fa fa-thumbs-down"></i></button>
            <p class = "dislikenumber">{{obj.num_dislikes}}</p>
        </div>
    </div>
    {% endfor %}
</body>
{% endblock content%}