{%extends "base.html"%}
{%block content%}
    <div class = "divcenter">
        <h1> Hello User!!!</h1>
        <form action="recommendation" method = 'post'>
            {%csrf_token%}
            <div class = "divpreference">
                Where are you searching from? <input type = "text" name = "location"><br>
            </div>
            <div class = "divpreference">
                Gender: 
                <select id="man" name="gender" size="4" multiple>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="boy">Boy</option>
                    <option value="girl">Girl</option>
                    <option value="rather not say">Rather not say</option>
                </select>
            </div>
            <div class = "divpreference">
                Color:  <input type = "text" name = "color"><br>
            </div>
            <div class = "divpreference">
                Clothing type:
                <select id="man" name="clothing_type" size="4" multiple>
                    <option value="top">Top</option>
                    <option value="bottom">Bottom</option>
                    <option value="shoes">Shoes</option>
                </select>
            </div>
            <div class = "divpreference">
                Style:
                <select id="man" name="style" size="4" multiple>
                    <option value="casual">Casual</option>
                    <option value="formal">Formal</option>
                </select>
            </div>
            <div class = "divpreference">
                Price Upper: <input type = "text" name = "upper"><br>
            </div>
            <div class = "divpreference">
                Price Lower: <input type = "text" name = "lower"><br>
            </div>
            <div class = "divpreference">
                <input type="submit">
            </div>
    </div>
</form>
{%endblock content%}