{%extends "base.html"%}
{%block content%}
    <br>
    <br>
    <br>
    <br>
    <div class = "divcenter">
        <h1 id = "pref-title">Preferences</h1>
        <form action="recommendation" method = 'post'>
            {%csrf_token%}
            <div class = "divpreference">
                Where are you searching from? <input type = "text" name = "location"><br>
            </div>
            <div class = "divpreference">
                Gender & Age Group:
                <br> 
                <select id="gender" name="gender" size="4" multiple>
                    <option value="mens">Mens</option>
                    <option value="women">Women</option>
                    <option value="man">Man</option>
                    <option value="boy">Boy</option>
                    <option value="girl">Girl</option>
                    <option value="">Rather not say</option>
                </select>
            </div>
            <div class = "divpreference">
                Color:  <input type = "text" name = "color"><br>
            </div>
            <div class = "divpreference">
                Clothing type:
                <br>
                <select id="cloth" name="clothing_type" size="4" multiple>
                    <option value="shirt">Shirt</option>
                    <option value="pant">Pant</option>
                    <option value="shoes">Shoes</option>
                    <option value="hats">Hats</option>
                    <option value="sunglasses">Sunglasses</option>
                    <option value="socks">Socks</option>
                </select>
            </div>
            <div class = "divpreference">
                Style:
                <br>
                <select id="style" name="style" size="4" multiple>
                    <option value="casual">Casual</option>
                    <option value="formal">Formal</option>
                    <option value="summer">Summer</option>
                    <option value="winter">Winter</option>
                    <option value="athletic">Athletic</option>
                </select>
            </div>
            <div class = "divpreference">
                Price Upper: <input type = "text" name = "upper"><br>
            </div>
            <div class = "divpreference">
                Price Lower: <input type = "text" name = "lower"><br>
            </div>
            <div class = "divpreference">
                <input type="submit">
            </div>
    </div>
</form>
{%endblock content%}