{% extends 'base.html' %}
{% block content %}
<style>
button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:10%;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
form{
    margin-left: 30px;
}

</style>
<form method="post">
{% csrf_token %}
{% for field in form %}
    <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
{% endfor %}
<button type="submit" class="btn btn-success">Sign up</button>
</form>
{% endblock %}